# create by https://github.com/iamcco/coc-gitignore (Sun Jun 14 2020 15:27:08 GMT+0200 (Central European Summer Time))
# Haskell.gitignore:
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
